<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head" }}

  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>

  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ .Permalink }}">

  {{ with .Description }}
    <meta name="description" content="{{ . }}">
    <meta property="og:description" content="{{ . }}">
    <meta name="twitter:description" content="{{ . }}">
  {{ end }}

  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:site" content="@SoapboxProject">

  <link rel="canonical" href="{{ .Permalink }}">
</head>

<body>
  <div class="container sidebar-layout">
    <nav class="sidebar">{{ partial "sidebar" . }}</nav>
    <main>{{ block "main" . }}{{ end }}</main>
  </div>

  {{ partial "footer" . }}
</body>

</html>
