<div class="cta-banner">
  <h4>Join the social media revolution</h4>
  <p>Soapbox is a free, decentralized platform with over a million people</p>
  <a href='https://joinmastodon.org/#getting-started'>Join Soapbox now!</a>
</div>
