<footer class="footer container">
  <p class="legal legal--right">
    <a href='https://soapbox.pub'>About Soapbox</a>
  </p>

  <p class="legal"><a href='https://gitlab.com/soapbox-pub/docs/tree/master/content/{{.Lang}}/{{.File.Path}}'>View source</a> · <a href='https://creativecommons.org/licenses/by-sa/4.0/'>CC BY-SA 4.0</a></p>
</footer>

<script async src="/site.js"></script>
