{{ define "title"}} Soapbox documentation {{end}}

{{ define "main" }}
  <h1>{{ .Title }}</h1>

  <div class="e-content">
    {{ .Content }}

    <p><i class="fas fa-language"></i> <strong>Available languages:</strong></p>

    <ul>
      {{ range $.Site.Home.AllTranslations }}
        <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
      {{ end }}
    </ul>
  </div>
{{ end }}
